# Dim_page and product / provider / channel / category| issues checks

Background is that we've had issues as we add Falcon and the providers, product and channels change when in practice they're all the same

In [6]:
from datetime import datetime, timedelta
import numpy as np
import pandas as pd

from data_warehouse_querying import DataWarehouseQuery

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [16]:
num_days_to_query = 1
#from_datetime = datetime.now() - timedelta(days = 5)
#from_datetime = datetime(year=2020, month=1, day=4)
#to_datetime = from_datetime+ timedelta(days=num_days_to_query)
to_datetime = datetime.now().date() - timedelta(days=1) #datetime(year=2020, month=3, day=1)
from_datetime = to_datetime - timedelta(days=num_days_to_query)

In [8]:
dq = DataWarehouseQuery()
dq.connect()

# Get Some Basic Data

In [9]:
dq.query("select table_name from information_schema.tables where table_catalog = 'data_warehouse' and table_schema='public' order by table_name")

Starting query at 2020-03-31T09:07:00.182148
Query took 0.10

                             table_name
0          bridge_anon_user_experiments
1   bridge_anon_user_experiments_backup
2             business_datamart_actions
3                business_datamart_cost
4             business_datamart_revenue
5            business_datamart_sessions
6              business_datamart_target
7                          dim_activity
8                     dim_activity_type
9                    dim_anonymous_user
10                          dim_browser
11                 dim_business_channel
12               dim_business_marketing
13          dim_business_model_category
14              dim_business_model_type
15                dim_business_provider
16                         dim_campaign
17                          dim_channel
18                          dim_country
19                             dim_date
20                       dim_date_group
21                           dim_device
22                       dim_experiment
23                dim_experiment_backup
24                       dim_ip_address
25                         dim_language
26                      dim_ms_campaign
27                             dim_page
28                dim_page_bkp_20200331
29                        dim_page_type
30                          dim_product
31                 dim_product_category
32                         dim_provider
33                          dim_session
34                     dim_site_version
35                             dim_time
36                      fact_activities
37             fact_activities_20200325
38                            fact_cost
39                         fact_revenue
40                  fact_revenue_target
41                        fact_sessions
42                          fact_target
43                flyway_schema_history
44                      temp_activities
45                    temp_activities_1
46                  temp_dim_ip_address
47                   temp_inline_widget
48                        temp_sessions
49                      temp_sessions_1
50              temp_sg_cc_user_journey
51                        temp_unbounce

In [106]:
columns = dq.query("select t.table_name, column_name, ordinal_position, data_type, is_nullable  from information_schema.columns c left join information_schema.tables  t on t.table_name = c.table_name where t.table_schema='public'")

Starting query at 2020-04-03T07:36:21.926402
Query took 0.06

In [108]:
columns[columns.column_name.str.contains("agent")]

,table_name,column_name,ordinal_position,data_type,is_nullable
405,temp_activities,context_user_agent,4,character varying,YES
435,temp_sessions,context_user_agent,11,character varying,YES
447,temp_activities_1,context_user_agent,4,character varying,YES
477,temp_sessions_1,context_user_agent,11,character varying,YES

In [10]:
pages = dq.query("select * from dim_page left join dim_page_type on dim_page.page_type_id = dim_page_type.page_type_id")

Starting query at 2020-03-31T09:07:00.351867
Query took 7.12

In [13]:
pages.describe()

,page_id,channel_id,site_version_id,language_id,product_category_id,product_id,provider_id,page_type_id,page_type_id
count,4.730700e+04,47307.000000,47307.000000,47307.000000,1251.000000,2362.000000,3132.000000,47307.000000,47307.000000
mean,1.505758e+06,3.306403,2.775361,1.426364,189.123102,36119.460203,11584.861430,9.278098,9.278098
std,8.907294e+05,5.839428,1.266532,0.819119,101.344944,65713.280455,21115.801191,2.089403,2.089403
min,5.163150e+05,1.000000,1.000000,1.000000,106.000000,125.000000,100.000000,1.000000,1.000000
25%,7.702955e+05,1.000000,2.000000,1.000000,116.000000,3467.000000,112.000000,9.000000,9.000000
50%,1.092743e+06,1.000000,2.000000,1.000000,120.000000,4829.000000,262.000000,9.000000,9.000000
75%,2.387340e+06,1.000000,4.000000,1.000000,296.000000,4966.000000,1900.000000,10.000000,10.000000
max,2.971466e+06,33.000000,6.000000,3.000000,1418.000000,188003.000000,62745.000000,14.000000,14.000000

In [12]:
providers = dq.query("select * from dim_provider")

Starting query at 2020-03-31T09:07:29.223337
Query took 4.64

In [14]:
providers.describe()

,provider_id,source_provider_id,status,channel_id,country_id,language_id
count,490.000000,109.000000,490.000000,490.000000,490.000000,490.000000
mean,42132.716327,61.495413,0.922449,13.895918,1.410204,1.493878
std,20862.456101,92.890779,0.267737,7.375926,0.492373,0.863343
min,99.000000,1.000000,0.000000,1.000000,1.000000,1.000000
25%,45133.000000,7.000000,1.000000,6.000000,1.000000,1.000000
50%,45779.000000,18.000000,1.000000,16.000000,1.000000,1.000000
75%,57346.000000,63.000000,1.000000,20.000000,2.000000,1.000000
max,62749.000000,292.000000,1.000000,33.000000,2.000000,3.000000

In [18]:
products = dq.query("select * from dim_product")

Starting query at 2020-03-31T09:16:49.807660
Query took 4.46

In [19]:
products.describe()

,product_id,status,language_id,channel_id,provider_id,country_id
count,805.000000,805.000000,805.000000,805.000000,805.000000,805.000000
mean,93111.310559,0.913043,1.337888,14.793789,23208.154037,1.316770
std,87446.953693,0.281947,0.749871,6.967566,25177.287116,0.465506
min,372.000000,0.000000,1.000000,4.000000,100.000000,1.000000
25%,4787.000000,1.000000,1.000000,4.000000,261.000000,1.000000
50%,93497.000000,1.000000,1.000000,20.000000,844.000000,1.000000
75%,182612.000000,1.000000,1.000000,20.000000,45732.000000,2.000000
max,188007.000000,1.000000,3.000000,33.000000,62745.000000,2.000000

In [26]:
channels = dq.query("select * from dim_channel")

Starting query at 2020-03-31T10:15:45.784576
Query took 0.03

In [29]:
channels.head()

,channel_id,channel_key,channel_name,sys_inserted,sys_updated
0,2,car-insurance,Car Insurance,2018-09-11 10:11:04.481062,2018-09-11 10:11:04.481062
1,6,fixed-deposit,Fixed Deposits,2018-09-11 10:11:04.481062,2018-09-11 10:11:04.481062
2,10,home-loan,Home Loan,2018-09-11 10:11:04.481062,2018-09-11 10:11:04.481062
3,14,mortgage-insurance,Mortgage Insurance,2018-09-11 10:11:04.481062,2018-09-11 10:11:04.481062
4,18,renovation-loan,Renovation Loan,2018-09-11 10:11:04.481062,2018-09-11 10:11:04.481062

In [25]:
dq.query("select * from dim_activity_type")

Starting query at 2020-03-31T09:55:44.615387
Query took 0.07

,activity_type_id,activity_type,activity_name,sys_inserted,sys_updated
0,11707,event,EventTest,2019-06-26 19:34:31.969044,2019-06-26 19:34:31.969044
1,1950,event,FilterForm,2018-09-25 19:31:28.292266,2018-09-25 19:31:28.292266
2,188,event,HomeLoanEnquiry.Step1Completed,2018-09-20 13:23:21.666303,2018-09-20 13:23:21.666303
3,184,event,LeadGeneration.ClickedApplyButton,2018-09-20 13:23:21.666303,2018-09-20 13:23:21.666303
4,180,event,LeadGeneration.ClickedCTA,2018-09-20 13:23:21.666303,2018-09-20 13:23:21.666303
5,176,event,LeadGeneration.ClickedGoToSite,2018-09-20 13:23:21.666303,2018-09-20 13:23:21.666303
6,9356,event,LeadGeneration.ThankYou,2019-04-03 19:33:37.403825,2019-04-03 19:33:37.403825
7,13372,event,NeilShahEvent,2019-08-23 19:34:42.336669,2019-08-23 19:34:42.336669
8,7590,event,Submit user feedback form,2019-01-21 19:32:53.797477,2019-01-21 19:32:53.797477
9,14370,event,UserAuth.LogOut,2019-09-26 20:10:01.503781,2019-09-26 20:10:01.503781
10,14394,event,UserAuth.SignUp,2019-09-26 20:10:01.503781,2019-09-26 20:10:01.503781
11,6794,event,UserEngagement.ClickedFilter,2018-12-20 19:44:05.647559,2018-12-20 19:44:05.647559
12,6622,event,UserEngagement.ShowMoreFilter,2018-12-12 19:40:59.756607,2018-12-12 19:40:59.756607
13,8836,event,UserEngagement.ViewedMoreDetails,2019-03-15 19:32:48.910349,2019-03-15 19:32:48.910349
14,15415,event,VinceEventRedirect,2019-10-31 20:10:53.004073,2019-10-31 20:10:53.004073
15,13387,event,AAAAAAAA,2019-08-23 19:34:42.336669,2019-08-23 19:34:42.336669
16,7424,event,Display user feedback form,2019-01-14 19:32:55.554291,2019-01-14 19:32:55.554291
17,177,event,LeadGeneration.FormStepCompleted,2018-09-20 13:23:21.666303,2018-09-20 13:23:21.666303
18,173,event,LeadGeneration.RedirectCompleted,2018-09-20 13:23:21.666303,2018-09-20 13:23:21.666303
19,189,event,LeadGeneration.ShowedMoreDetails,2018-09-20 13:23:21.666303,2018-09-20 13:23:21.666303
20,185,event,LeadGeneration.ViewedMoreDetails,2018-09-20 13:23:21.666303,2018-09-20 13:23:21.666303
21,14375,event,UserAuth.LogIn,2019-09-26 20:10:01.503781,2019-09-26 20:10:01.503781
22,181,event,UserAuth.LoggedIn,2018-09-20 13:23:21.666303,2018-09-20 13:23:21.666303
23,8613,event,UserEngagement.ButtonClick,2019-03-05 19:32:49.442282,2019-03-05 19:32:49.442282
24,6630,event,UserEngagement.FilterSelection,2018-12-12 19:40:59.756607,2018-12-12 19:40:59.756607
25,11761,event,UserEngagement.ShowedMoreDetails,2019-06-28 19:34:42.589567,2019-06-28 19:34:42.589567
26,1954,event,UserFeedback.MoodSubmitted,2018-09-25 19:31:28.292266,2018-09-25 19:31:28.292266
27,10353,event,UserView.WidgetLoad,2019-05-11 04:10:06.383920,2019-05-11 04:10:06.383920
28,17926,event,myevent,2020-01-08 20:10:00.948678,2020-01-08 20:10:00.948678
29,14984,event,request-enquiry,2019-10-16 20:09:57.942162,2019-10-16 20:09:57.942162
...,...,...,...,...,...
40,13353,event,NeilShahEvet,2019-08-22 19:34:34.519191,2019-08-22 19:34:34.519191
41,13685,event,Reading,2019-09-03 19:34:17.192186,2019-09-03 19:34:17.192186
42,14376,event,SomeEvent,2019-09-26 20:10:01.503781,2019-09-26 20:10:01.503781
43,182,event,UserAuth.PhoneNumberVerified,2018-09-20 13:23:21.666303,2018-09-20 13:23:21.666303
44,186,event,UserAuth.RegisteredAccount,2018-09-20 13:23:21.666303,2018-09-20 13:23:21.666303
45,1955,event,UserEngagement.QuestionAnswered,2018-09-25 19:31:28.292266,2018-09-25 19:31:28.292266
46,6638,event,UserEngagement.ShowMoreOptions,2018-12-12 19:40:59.756607,2018-12-12 19:40:59.756607
47,15214,event,VinceEvent,2019-10-24 20:10:28.749646,2019-10-24 20:10:28.749646
48,17960,event,aaa,2020-01-09 20:11:26.422755,2020-01-09 20:11:26.422755
49,8993,event,testNeilEvent,2019-03-19 19:33:09.251174,2019-03-19 19:33:09.251174
50,17972,event,onmouseup,2020-03-18 20:09:00.758461,2020-03-18 20:09:00.758461
51,17980,event,ontouch,2020-03-21 20:09:52.903031,2020-03-21 20:09:52.903031
52,179,event,Card impression,2018-09-20 13:23:21.666303,2018-09-20 13:23:21.666303
53,14333,event,ColynEvent,2019-09-24 20:11:30.304026,2019-09-24 20:11:30.304026
54,13366,event,Event,2019-08-22 19:34:34.519191,2019-08-22 19:34:34.519191
55,187,event,HomeLoanEnquiry.Step2Completed,2018-09-20 13:23:21.666303,2018-09-20 13:23:21.666303
56,8648,event,LeadGeneration.ClickConversion,2019-03-07 19:32:50.379430,2019-03-07 19:32:50.379430
57,175,event,LeadGeneration.Conversion,2018-09-20 13:23:21.666303,2018-09-20 13:23:21.666303
58,1940,event,LeadGeneration.FormSubmitted,2018-09-25 19:31:28.292266,2018-09-25 19:31:28.292266
59,183,PageView,PageView,2018-09-20 13:23:21.666303,2018-09-20 13:23:21.666303
60,10840,event,Sample Event Name,2019-05-27 19:34:22.960880,2019-05-27 19:34:22.960880
61,15226,event,SampleEvent,2019-10-24 20:10:28.749646,2019-10-24 20:10:28.749646
62,9043,event,TEST,2019-03-21 19:33:20.667575,2019-03-21 19:33:20.667575
63,14393,event,UserAuth.ForgotPassword,2019-09-26 20:10:01.503781,2019-09-26 20:10:01.503781
64,6791,event,UserEngagement.SortedList,2018-12-20 19:44:05.647559,2018-12-20 19:44:05.647559
65,2270,event,UserFeedback.FeedbackSubmitted,2018-09-26 06:04:52.225830,2018-09-26 06:04:52.225830
66,7577,event,UserFeedback.ModalDisplayed,2019-01-21 19:32:53.797477,2019-01-21 19:32:53.797477
67,17962,event,NeilEvent,2020-02-13 20:09:36.742155,2020-02-13 20:09:36.742155
68,17966,event,onclick,2020-03-18 20:09:00.758461,2020-03-18 20:09:00.758461
69,17984,event,ontouchstart,2020-03-21 20:09:52.903031,2020-03-21 20:09:52.903031

In [20]:
dq.query("select column_name, data_type, is_nullable from information_schema.columns where table_name='fact_activities' order by ordinal_position")

Starting query at 2020-03-31T09:17:16.998745
Query took 0.06

                column_name                    data_type is_nullable
0          fact_activity_id                       bigint          NO
1          activity_date_id                      integer         YES
2          activity_time_id                      integer         YES
3                session_id                       bigint         YES
4         anonymous_user_id                       bigint         YES
5                   user_id                       bigint         YES
6                 device_id                      integer         YES
7                browser_id                      integer         YES
8       session_campaign_id                      integer         YES
9          activity_type_id                      integer         YES
10               channel_id                      integer         YES
11                  page_id                      integer         YES
12         referrer_page_id                      integer         YES
13          site_version_id                      integer         YES
14          site_country_id                      integer         YES
15         site_language_id                      integer         YES
16           is_interaction                      boolean         YES
17           activity_order                      integer         YES
18           activity_count                      integer         YES
19             sys_inserted  timestamp without time zone         YES
20              sys_updated  timestamp without time zone         YES
21       source_activity_id            character varying         YES
22  session_landing_page_id                      integer         YES
23              activity_id                       bigint          NO
24               product_id                      integer         YES
25              provider_id                      integer         YES
26      product_category_id                      integer         YES
27         user_filter_type            character varying          NO
28             page_type_id                      integer         YES
29                    ip_id                       bigint         YES

In [33]:
# sample of fact_activities
query = """
select 
    fa.fact_activity_id, fa.session_id, fa.anonymous_user_id, fa.activity_type_id, fa.user_filter_type
    , fa.channel_id, fa.product_id, fa.provider_id, fa.product_category_id
    , fa.page_id, fa.page_type_id
    , dim_date.full_date 
    , dim_activity_type.activity_type, dim_activity_type.activity_name
    

from fact_activities fa
    left join dim_activity_type on fa.activity_type_id = dim_activity_type.activity_type_id
    left join dim_date on fa.activity_date_id = dim_date.date_id
    where dim_date.full_date between '{}' and '{}'
""".format(from_datetime, to_datetime)
activities = dq.query(query)

Starting query at 2020-03-31T10:24:38.388681
Query took 12.63

In [35]:
activities.describe()

,fact_activity_id,session_id,anonymous_user_id,activity_type_id,channel_id,product_id,provider_id,product_category_id,page_id,page_type_id
count,8.803860e+05,8.803860e+05,8.803860e+05,880386.000000,880386.000000,29674.000000,81536.000000,51248.000000,8.803860e+05,880386.000000
mean,2.040665e+08,7.092227e+07,5.622705e+07,7615.323903,2.437266,44519.859406,5516.937304,128.444056,1.416746e+06,8.835710
std,3.310967e+05,8.615781e+04,1.071017e+07,5944.936258,3.076836,75415.645347,15684.650736,45.623102,8.802303e+05,2.655073
min,2.033553e+08,7.073272e+07,1.017819e+07,173.000000,1.000000,372.000000,102.000000,106.000000,5.163150e+05,1.000000
25%,2.038115e+08,7.085764e+07,6.015532e+07,183.000000,1.000000,410.000000,104.000000,116.000000,5.181000e+05,9.000000
50%,2.040666e+08,7.092237e+07,6.071381e+07,10353.000000,1.000000,442.000000,104.000000,117.000000,1.115747e+06,9.000000
75%,2.043039e+08,7.098416e+07,6.078204e+07,13685.000000,4.000000,81857.000000,110.000000,119.000000,2.154690e+06,9.000000
max,2.048306e+08,7.112276e+07,6.088310e+07,17972.000000,34.000000,188007.000000,62749.000000,327.000000,2.971466e+06,14.000000

In [36]:
activities.head(5)

,fact_activity_id,session_id,anonymous_user_id,activity_type_id,user_filter_type,channel_id,product_id,provider_id,product_category_id,page_id,page_type_id,full_date,activity_type,activity_name
0,203463473,70882035,60705984,183,external_visitor,2,NaN,NaN,NaN,520976,1,2020-03-29,PageView,PageView
1,203913995,70849233,57626431,183,external_visitor,2,NaN,NaN,NaN,520976,1,2020-03-29,PageView,PageView
2,203847736,70880294,60711340,183,external_visitor,2,NaN,NaN,NaN,520976,1,2020-03-29,PageView,PageView
3,203847744,70880294,60711340,183,external_visitor,2,NaN,NaN,NaN,520976,1,2020-03-29,PageView,PageView
4,203368061,70805008,60713167,183,external_visitor,2,NaN,NaN,NaN,520976,1,2020-03-29,PageView,PageView

# Check if we have duplicates in fact_activities with equivalent dim_page records

# Check There Aren't Any AB test URLs in dim_page

There shouldn't be any with things like www3 or blog3 or www-new as they don't represent different pages.

By looking at what is in dim_page, we can see if there's likely an issue, but whether they are recent requires joining with fact_activities

In [42]:
#bad_pages = pages[pages.page_url.contains("www-new")| pages.page_url.str.contains("blog3")]
url_roots = pages["page_url"].str.split(".").str[0]
pages["root"] = url_roots

root_counts = pages.groupby("root").size()

In [56]:
expected_roots = ["blog","www", "get", "learn", "iss", "forum", "blog-admin"]

In [84]:
bad_roots = root_counts[~root_counts.keys().isin(expected_roots)]
print("Just showing top bad looking root by number of pages (not by number of pageviews / events)")
bad_roots.sort_values(ascending=False).head(20)

Just showing top bad looking root by number of pages (not by number of pageviews / events)

root
blog3                           3935
www-new                         1642
ti                               362
www3                             213
blog-staging                     172
blog-cdn                         139
ms-forms                          45
www5                              16
blog-staging-new                  16
admin                             15
cc                                14
ti-admin                          14
www-ecs                           13
pl                                11
tnp-blog-moneysmart-sg-local      11
blog-moneysmart-sg                10
ci                                 8
blog-moneysmart-hk-admin           7
blog-moneysmart-sg-admin           7
mortgage                           6
dtype: int64

In [58]:
activities_pages = pd.merge(activities, pages, on="page_id")

In [85]:
bad_page_activities = activities_pages[~activities_pages.root.isin(expected_roots)].groupby(["page_url", "activity_type", "root"]).agg("size")

In [94]:
bad_page_activities = pd.DataFrame(bad_page_activities).reset_index()

In [95]:
bad_page_activities.sort_values(0, ascending=False)

,page_url,activity_type,root,0
252,blog3.moneysmart.sg/shopping/free-parking-sing...,PageView,blog3,47
284,www-new.moneysmart.hk/en/home-insurance,PageView,www-new,32
327,www-new.moneysmart.sg/home-insurance,PageView,www-new,31
179,blog3.moneysmart.sg/invest/investment-brokerag...,PageView,blog3,27
307,www-new.moneysmart.hk/zh-hk/home-insurance/chubb,PageView,www-new,25
146,blog3.moneysmart.sg/fixed-deposits/best-fixed-...,PageView,blog3,25
26,blog3.moneysmart.sg/budgeting/budget-2020-care...,event,blog3,21
37,blog3.moneysmart.sg/budgeting/covid-19-supplem...,PageView,blog3,19
290,www-new.moneysmart.hk/en/home-insurance/chubb,PageView,www-new,19
38,blog3.moneysmart.sg/budgeting/covid-19-supplem...,event,blog3,19
192,blog3.moneysmart.sg/invest/stashaway-review,PageView,blog3,19
253,blog3.moneysmart.sg/shopping/free-parking-sing...,event,blog3,18
230,blog3.moneysmart.sg/savings-accounts/best-savi...,PageView,blog3,17
25,blog3.moneysmart.sg/budgeting/budget-2020-care...,PageView,blog3,16
243,blog3.moneysmart.sg/savings-accounts/singlife-...,event,blog3,15
180,blog3.moneysmart.sg/invest/investment-brokerag...,event,blog3,15
147,blog3.moneysmart.sg/fixed-deposits/best-fixed-...,event,blog3,13
23,blog3.moneysmart.sg,PageView,blog3,12
314,www-new.moneysmart.hk/zh-hk/home-insurance/pin...,PageView,www-new,12
34,blog3.moneysmart.sg/budgeting/cheapest-sim-onl...,PageView,blog3,11
313,www-new.moneysmart.hk/zh-hk/home-insurance/chu...,PageView,www-new,11
308,www-new.moneysmart.hk/zh-hk/home-insurance/chu...,PageView,www-new,11
214,blog3.moneysmart.sg/property/hdb-bto-flat-guide,PageView,blog3,11
309,www-new.moneysmart.hk/zh-hk/home-insurance/chu...,PageView,www-new,11
310,www-new.moneysmart.hk/zh-hk/home-insurance/chu...,PageView,www-new,11
311,www-new.moneysmart.hk/zh-hk/home-insurance/chu...,PageView,www-new,11
312,www-new.moneysmart.hk/zh-hk/home-insurance/chu...,PageView,www-new,11
42,blog3.moneysmart.sg/budgeting/cpf-retirement-s...,event,blog3,10
175,blog3.moneysmart.sg/invest/index-fund-etf-sing...,PageView,blog3,9
257,blog3.moneysmart.sg/shopping/lazada-promo-code...,event,blog3,9
...,...,...,...,...
222,blog3.moneysmart.sg/property/sers-singaporeans...,PageView,blog3,1
224,blog3.moneysmart.sg/property/the-ola-sengkang-ec,PageView,blog3,1
228,blog3.moneysmart.sg/savings-accounts/3-types-b...,PageView,blog3,1
166,blog3.moneysmart.sg/invest/cdp-account-sgx,PageView,blog3,1
165,blog3.moneysmart.sg/invest,PageView,blog3,1
162,blog3.moneysmart.sg/home-loans/applying-hdb-lo...,PageView,blog3,1
137,blog3.moneysmart.sg/family/iui-intrauterine-in...,PageView,blog3,1
119,blog3.moneysmart.sg/dining/holland-village-foo...,PageView,blog3,1
121,blog3.moneysmart.sg/dining/seafood-buffets,PageView,blog3,1
122,blog3.moneysmart.sg/education/moe-teacher-sala...,PageView,blog3,1
123,blog3.moneysmart.sg/education/moe-teacher-sala...,event,blog3,1
124,blog3.moneysmart.sg/education/singapore-univer...,PageView,blog3,1
125,blog3.moneysmart.sg/education/study-overseas-d...,PageView,blog3,1
129,blog3.moneysmart.sg/entertainment/video-stream...,PageView,blog3,1
132,blog3.moneysmart.sg/family/child-insurance-sin...,PageView,blog3,1
133,blog3.moneysmart.sg/family/cord-blood-banking-...,PageView,blog3,1
135,blog3.moneysmart.sg/family/formula-milk-powder...,PageView,blog3,1
140,blog3.moneysmart.sg/family/work-from-home-jobs...,PageView,blog3,1
160,blog3.moneysmart.sg/healthcare/cheap-dentists-...,PageView,blog3,1
141,blog3.moneysmart.sg/family/work-from-home-jobs...,event,blog3,1
142,blog3.moneysmart.sg/fitness-beauty/bicycle-sho...,PageView,blog3,1
143,blog3.moneysmart.sg/fitness-beauty/bicycle-sho...,event,blog3,1
144,blog3.moneysmart.sg/fitness-beauty/waxing-salo...,PageView,blog3,1
145,blog3.moneysmart.sg/fitness-beauty/waxing-salo...,event,blog3,1
148,blog3.moneysmart.sg/fixed-deposits/best-ocbc-f...,PageView,blog3,1
150,blog3.moneysmart.sg/fixed-deposits/hong-leong-...,PageView,blog3,1
151,blog3.moneysmart.sg/fixed-deposits/hong-leong-...,event,blog3,1
154,blog3.moneysmart.sg/health-insurance/health-in...,PageView,blog3,1
158,blog3.moneysmart.sg/health-insurance/prenatal-...,PageView,blog3,1
340,www-new.moneysmart.sg/home-insurance/tiq,PageView,www-new,1

In [98]:
bad_page_activities_by_root = activities_pages[~activities_pages.root.isin(expected_roots)].groupby(["root"]).agg("size")
bad_page_activities_by_root

root
admin         1
blog-cdn      2
blog3       967
mortgage      4
www-new     315
dtype: int64

In [101]:
bad_page_activities[bad_page_activities.root.isin(["admin"])]

                        page_url activity_type   root  0
0  admin.moneysmart.sg/home-loan      PageView  admin  1

# If there are AB URLs, check that they have the same product etc information

# Check page_type_id in fact_activities matches with dim_page