In [1]:
import sys
try:
    from pyathena import connect
except:
    print("Failed to import pyathena, trying to install it")
    !{sys.executable} -m pip install PyAthena
    from pyathena import connect
    print("successfully installed")
try:
    import psycopg2
except:
    print("Failed ot import psychopg2, trying to install it")
    !{sys.executable} -m pip install psycopg2-binary
    import psycopg2
    print("Successfully installed")
import pandas as pd
import boto3
from datetime  import datetime, timedelta

Failed to import pyathena, trying to install it
Collecting PyAthena
  Downloading https://files.pythonhosted.org/packages/34/11/20fbc9d9c0825e3c1c7ef9ea7e6489b20f582a24ca05ab023003948034cf/PyAthena-1.7.1-py2.py3-none-any.whl
Collecting future (from PyAthena)
  Downloading https://files.pythonhosted.org/packages/90/52/e20466b85000a181e1e144fd8305caf2cf475e2f9674e797b222f8105f5f/future-0.17.1.tar.gz (829kB)
    100% |████████████████████████████████| 829kB 17.5MB/s ta 0:00:01
Requirement already satisfied: boto3>=1.4.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from PyAthena) (1.9.207)
Requirement already satisfied: botocore>=1.5.52 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from PyAthena) (1.12.207)
Collecting tenacity>=4.1.0 (from PyAthena)
  Downloading https://files.pythonhosted.org/packages/1e/a1/be8c8610f4620c56790965ba2b564dd76d13cbcd7c2ff8f6053ce63027fb/tenacity-5.1.1-py2.py3-none-any.whl
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3>=1.4.4->PyAthena) (0.9.4)
Requirement already satisfied: s3transfer<0.3.0,>=0.2.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3>=1.4.4->PyAthena) (0.2.1)
Requirement already satisfied: docutils<0.15,>=0.10 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore>=1.5.52->PyAthena) (0.14)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1; python_version >= "2.7" in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore>=1.5.52->PyAthena) (2.7.3)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version >= "3.4" in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore>=1.5.52->PyAthena) (1.23)
Requirement already satisfied: six>=1.9.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from tenacity>=4.1.0->PyAthena) (1.11.0)
Building wheels for collected packages: future
  Running setup.py bdist_wheel for future ... done
  Stored in directory: /home/ec2-user/.cache/pip/wheels/0c/61/d2/d6b7317325828fbb39ee6ad559dbe4664d0896da4721bf379e
Successfully built future
Installing collected packages: future, tenacity, PyAthena
Successfully installed PyAthena-1.7.1 future-0.17.1 tenacity-5.1.1
You are using pip version 10.0.1, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
successfully installed

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
s3_client = boto3.client('s3')
s3_resource = boto3.resource('s3') #slower, but easier
# s3_conn = boto3.s3.connect_to_region('us-west-2')

athena = boto3.client('athena')

In [3]:
#--- Settings -- 
event_log_s3_path = "s3://ms-data-pipeline-production/ms-data-stream-production-processed"
event_log_s3_bucket = event_log_s3_path.split("s3://")[1].split("/")[0]
event_log_s3_prefix = event_log_s3_path.split("/")[-1]
athena_bucket_path = "s3://aws-athena-query-results-358002497134-ap-southeast-1/"
athena_raw_events_table = "ms_data_stream_production_processed"
athena_easy_events_table =  "id_ab_test"
aws_region_name = "ap-southeast-1"

# --
list_out_s3_bucket = False #extremely slow.

In [6]:
print("Connecting to Athena")
athena_conn = connect(s3_staging_dir=athena_bucket_path, region_name=aws_region_name)

Connecting to Athena

In [23]:
print("Testing that the athena connection actually does something")
test_query = "select * from id_ab_test limit 10"
res = pd.read_sql(test_query, athena_conn)
res

Testing that the athena connection actually does something

,sent_at_timestamp,sent_at,type,event_name,status,article_read_depth,anonymous_id,canonical_url,page_url,is_amp,has_marketing_param,is_test,is_control
0,2019-09-01 05:01:59.833,2019-09-01T05:01:59.833Z,event,Reading,Article Body 100,100,870a8937-fcb2-4f04-93fa-e53a1bc7d9a7,https://www.moneysmart.id/ustadz-abdul-somad-m...,https://www.moneysmart.id/ustadz-abdul-somad-m...,False,True,False,True
1,2019-09-01 05:01:58.217,2019-09-01T05:01:58.217Z,event,Reading,Article Body 75,75,ed855184-6827-418f-bc92-b95153f481d5,https://www.moneysmart.id/rumah-hotman-paris-m...,https://www.moneysmart.id/rumah-hotman-paris-m...,False,False,False,True
2,2019-09-01 04:58:21.975,2019-09-01T04:58:21.975Z,page,PageView,None,0,d533b2b3-7ba1-4fcb-95b1-a4ec83a2bab0,https://www.moneysmart.id/jedar-nginap-di-ritz...,https://www.moneysmart.id/jedar-nginap-di-ritz...,False,True,False,True
3,2019-09-01 05:01:53.170,2019-09-01T05:01:53.170Z,event,Reading,Article Body 100,100,77c8a935-cbee-484a-9937-804f00afd6da,https://www.moneysmart.id/cut-meyriska-jalani-...,https://www.moneysmart.id/cut-meyriska-jalani-...,False,False,False,True
4,2019-09-01 05:01:54.726,2019-09-01T05:01:54.726Z,event,Reading,Article Body 75,75,298fcf12-b39c-46c1-9529-ef1597904d48,https://www.moneysmart.id/rumah-megah-nina-zat...,https://www.moneysmart.id/rumah-megah-nina-zat...,False,False,False,True
5,2019-09-01 05:01:58.863,2019-09-01T05:01:58.863Z,page,PageView,None,0,741af1e7-ce6e-4b59-87a9-f10457852707,https://www.moneysmart.id/pengusaha-batu-bara-...,https://www.moneysmart.id/pengusaha-batu-bara-...,False,False,False,True
6,2019-09-01 05:02:00.302,2019-09-01T05:02:00.302Z,event,Reading,Article Body 75,75,a11cada2-a277-47b6-be5c-74fd167e71f2,https://www.moneysmart.id/ustadz-abdul-somad-m...,https://www.moneysmart.id/ustadz-abdul-somad-m...,False,True,False,True
7,2019-09-01 05:01:59.348,2019-09-01T05:01:59.348Z,page,PageView,None,0,421aa6b2-776b-488a-9868-9505322ffd6f,https://www.moneysmart.id/,https://www.moneysmart.id/,False,False,False,True
8,2019-09-01 05:01:59.902,2019-09-01T05:01:59.902Z,event,Reading,Article Body 25,25,f859ec9e-bc5c-4aa4-a157-645495996b32,https://www.moneysmart.id/anak-pejabat-berpres...,https://www.moneysmart.id/anak-pejabat-berpres...,False,True,False,True
9,2019-09-01 05:02:00.746,2019-09-01T05:02:00.746Z,page,PageView,None,0,f4a9320b-142d-4740-ad81-9b69ab6583db,https://www.moneysmart.id/usaha-modal-10-juta-...,https://www.moneysmart.id/usaha-modal-10-juta-...,False,True,False,True

In [19]:
def get_list_of_expected_s3_folders_and_date_keys():
    # s3://ms-data-pipeline-production/ms-data-stream-production-processed/2019/08/02
    root_path = event_log_s3_path
    paths = []
    start_date = datetime(year=2019, month = 6, day = 18)
    now = datetime.now() #TODO: the timezone seems wrong :(
    print(now)
    day_increment = timedelta(days=1)
    processing_day = start_date
    while processing_day<now: #should include the current day
        day_suffix = "%.4i/%.2i/%.2i/" % (processing_day.year, processing_day.month, processing_day.day)
        day_index = "%.4i-%.2i-%.2i" % (processing_day.year, processing_day.month, processing_day.day)
        paths.append([root_path+"/"+day_suffix, day_index])
        processing_day += day_increment
    return paths
expected_paths_sent_ats = get_list_of_expected_s3_folders_and_date_keys()

2019-09-03 06:58:11.502005

In [20]:
expected_paths_sent_ats[:5]+ expected_paths_sent_ats[-5:]

[['s3://ms-data-pipeline-production/ms-data-stream-production-processed/2019/06/18/',
  '2019-06-18'],
 ['s3://ms-data-pipeline-production/ms-data-stream-production-processed/2019/06/19/',
  '2019-06-19'],
 ['s3://ms-data-pipeline-production/ms-data-stream-production-processed/2019/06/20/',
  '2019-06-20'],
 ['s3://ms-data-pipeline-production/ms-data-stream-production-processed/2019/06/21/',
  '2019-06-21'],
 ['s3://ms-data-pipeline-production/ms-data-stream-production-processed/2019/06/22/',
  '2019-06-22'],
 ['s3://ms-data-pipeline-production/ms-data-stream-production-processed/2019/08/30/',
  '2019-08-30'],
 ['s3://ms-data-pipeline-production/ms-data-stream-production-processed/2019/08/31/',
  '2019-08-31'],
 ['s3://ms-data-pipeline-production/ms-data-stream-production-processed/2019/09/01/',
  '2019-09-01'],
 ['s3://ms-data-pipeline-production/ms-data-stream-production-processed/2019/09/02/',
  '2019-09-02'],
 ['s3://ms-data-pipeline-production/ms-data-stream-production-processed/2019/09/03/',
  '2019-09-03']]

In [24]:
def add_partitions(paths_sent_ats):
    print("Adding partitions")
    for path, sent_at in paths_sent_ats:
        print("adding partition for %s" % sent_at)
        query = "ALTER TABLE %s ADD PARTITION (sent_at='%s') location '%s';"%(athena_raw_events_table, sent_at, path)
        print(query)
        pd.read_sql(query, athena_conn)

In [25]:
add_partitions(expected_paths_sent_ats)

Adding partitions
adding partition for 2019-06-18
ALTER TABLE ms_data_stream_production_processed ADD PARTITION (sent_at='2019-06-18') location 's3://ms-data-pipeline-production/ms-data-stream-production-processed/2019/06/18/';

DatabaseError: Execution failed on sql: ALTER TABLE ms_data_stream_production_processed ADD PARTITION (sent_at='2019-06-18') location 's3://ms-data-pipeline-production/ms-data-stream-production-processed/2019/06/18/';
FAILED: SemanticException table is not partitioned but partition spec exists: {sent_at=2019-06-18}
unable to rollback

In [ ]:
db_pass = input()
db_host = "data-pier-production.cl8qfdl47mtr.ap-southeast-1.rds.amazonaws.com"
db_user = "jamie"
db_database = "data_pier"
pg_conn = psycopg2.connect(host=db_host, user = db_user, dbname=db_database, password= db_pass)

In [11]:
cursor = pg_conn.cursor()
res = cursor.execute("select * from information_schema.tables")

In [12]:
res

In [13]:
res = cursor.fetchall()

In [14]:
for a in res: print(a)

('data_pier', 'pg_catalog', 'pg_stat_database', 'VIEW', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_type', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_roles', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_settings', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_rules', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_user_mappings', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stat_xact_user_functions', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stat_archiver', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stat_bgwriter', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_attrdef', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_constraint', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stat_progress_vacuum', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_attribute', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_proc', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_operator', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_opfamily', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_opclass', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_am', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_amop', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_amproc', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_language', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_largeobject_metadata', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_aggregate', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_rewrite', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_trigger', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_event_trigger', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_description', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_cast', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_enum', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_namespace', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_conversion', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_depend', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_database', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_db_role_setting', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_tablespace', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_pltemplate', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_auth_members', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_shdepend', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_shdescription', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_ts_config', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_group', 'VIEW', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_user', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_policies', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_views', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_tables', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_matviews', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_indexes', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stats', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_locks', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_cursors', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_available_extensions', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_available_extension_versions', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_prepared_xacts', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_prepared_statements', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_seclabels', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stat_xact_all_tables', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_timezone_abbrevs', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_timezone_names', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stat_sys_tables', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_ts_dict', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_ts_parser', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_ts_template', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_extension', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_foreign_data_wrapper', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_foreign_server', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_foreign_table', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_policy', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_replication_origin', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_default_acl', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_init_privs', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_seclabel', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_shseclabel', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_collation', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_range', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_transform', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stat_all_tables', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stat_xact_sys_tables', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stat_user_tables', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stat_xact_user_tables', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_statio_all_tables', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_statio_sys_tables', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_statio_user_tables', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stat_all_indexes', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stat_sys_indexes', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stat_user_indexes', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_statio_all_indexes', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_statio_sys_indexes', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_statio_user_indexes', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_statio_all_sequences', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_statio_sys_sequences', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_statio_user_sequences', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stat_replication', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stat_wal_receiver', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stat_ssl', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_replication_slots', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stat_database_conflicts', 'VIEW', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stat_user_functions', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'routine_privileges', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'information_schema_catalog_name', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'columns', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'applicable_roles', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'administrable_role_authorizations', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'key_column_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'attributes', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'constraint_column_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'character_sets', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'check_constraint_routine_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'check_constraints', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'constraint_table_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'collations', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'collation_character_set_applicability', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'column_domain_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'domain_constraints', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'column_privileges', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'column_udt_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'parameters', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'domain_udt_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'domains', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'sequences', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'enabled_roles', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'referential_constraints', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'role_routine_grants', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'role_column_grants', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'schemata', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'routines', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'triggered_update_columns', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'view_table_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'triggers', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'table_constraints', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'sql_implementation_info', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'information_schema', 'sql_languages', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'information_schema', 'sql_packages', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'information_schema', 'sql_sizing', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'information_schema', 'sql_sizing_profiles', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'information_schema', 'user_defined_types', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'table_privileges', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'udt_privileges', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'role_table_grants', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'tables', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'role_udt_grants', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'view_column_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'usage_privileges', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'role_usage_grants', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'data_type_privileges', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'view_routine_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'views', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'element_types', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'column_options', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'foreign_data_wrapper_options', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'foreign_data_wrappers', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'foreign_server_options', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'foreign_servers', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'foreign_table_options', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'foreign_tables', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'user_mapping_options', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'information_schema', 'user_mappings', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'public', 'pg_stat_statements', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_stat_activity', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)
('data_pier', 'pg_catalog', 'pg_class', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_inherits', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_index', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'pg_catalog', 'pg_ts_config_map', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'information_schema', 'sql_features', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'id_wordpress', 'wp_term_relationships', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'id_wordpress', 'wp_comments', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'id_wordpress', 'wp_post_views', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'id_wordpress', 'wp_term_taxonomy', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'id_wordpress', 'wp_termmeta', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'id_wordpress', 'wp_terms', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'id_wordpress', 'wp_postmeta', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('data_pier', 'id_wordpress', 'wp_posts', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)

In [26]:
   $query_byTag="
            SELECT wp_posts.ID
            FROM wp_posts, wp_term_relationships, wp_terms
            WHERE wp_posts.ID = wp_term_relationships.object_id
            AND wp_terms.term_id = wp_term_relationships.term_taxonomy_id
            AND wp_terms.name = 'MyTag'";

    $query_byCat="
            SELECT wp_posts.ID
            FROM wp_posts, wp_term_relationships, wp_terms
            WHERE wp_posts.ID = wp_term_relationships.object_id
            AND wp_terms.term_id = wp_term_relationships.term_taxonomy_id
            AND wp_terms.name = 'MyCat'";

SyntaxError: invalid syntax (<ipython-input-26-0a4b173a04e2>, line 1)

In [56]:
#query = "select * from information_schema.columns where table_schema='id_wordpress'" 
query = "select  * from id_wordpress.wp_terms join id_wordpress.wp_posts where slug like '%kartu%' limit 100" # gets slug
query = """
        select * from id_wordpress.wp_postmeta where meta_key not like'%oembed%' 
        and meta_key like '%slug%'
        order by meta_key desc limit 100
        """
pd.read_sql_query(query, pg_conn)

,meta_id,post_id,meta_key,meta_value
0,8068.0,1993.0,_xdmsg_sort_slug,ccard
1,8078.0,1995.0,_xdmsg_sort_slug,uncategorized
2,8073.0,1994.0,_xdmsg_sort_slug,product-template
3,424644.0,63883.0,_wp_old_slug,63883-2
4,423610.0,63078.0,_wp_old_slug,ada-beberapa-cara-untuk-membuat-skck-baru
5,16885.0,1875.0,_wp_old_slug,static-page-2
6,398084.0,59595.0,_wp_old_slug,investasi-jangaka-panjang-yang-untung-dan-aman...
7,16888.0,1861.0,_wp_old_slug,header-1
8,337049.0,49245.0,_wp_old_slug,wow-ini-6-mobil-sport-termahal-milik-cristiano...
9,386406.0,57826.0,_wp_old_slug,cerai-ini-rumah-rp-190-miliar-milik-mr-bean-ya...
10,418813.0,62678.0,_wp_old_slug,ada-8-daftar-barang-yang-diduga-hasil-grafitas...
11,16894.0,2005.0,_wp_old_slug,product-detail-1
12,141563.0,9806.0,_wp_old_slug,tips-jadi-orang-kaya-bah-kalau-punya-10-hal-in...
13,141861.0,10238.0,_wp_old_slug,apply-kartu-kredit-pertama-kali-karena-belum-p...
14,143262.0,11760.0,_wp_old_slug,bingung-cara-bikin-permohonan-kredit-tanpa-agu...
15,202150.0,26917.0,_wp_old_slug,meratapi-mahalnya-biaya-kuliah-gak-ada-gunanya...
16,143862.0,12471.0,_wp_old_slug,argumentasi-kuat-untuk-memperbesar-limit-kartu...
17,144806.0,13541.0,_wp_old_slug,kartu-kredit-virtual-%28vcc%29-cara-ciamik-bua...
18,145988.0,14884.0,_wp_old_slug,terima-ajakan-nongkrong-tiap-weekend-kenapa-ng...
19,229967.0,34022.0,_wp_old_slug,wahai-para-pria-jangan-nikah-dulu-kalau-gajimu...
20,349181.0,51741.0,_wp_old_slug,kisah-sukses-mahathir-mohamad
21,380464.0,56934.0,_wp_old_slug,simulasi-kredit-mobil-suv-terlaris
22,400998.0,60044.0,_wp_old_slug,3-mobil-bmw-di-giias-2018
23,417069.0,62444.0,_wp_old_slug,jejeran-seleb-dunia-ini-punya-jet-pribadi
24,198323.0,22774.0,_wp_old_slug,infographic
25,199927.0,26395.0,_wp_old_slug,infographic-10-nasihat-keuangan-dari-masa-depa...
26,199993.0,26409.0,_wp_old_slug,siapa-bilang-uang-receh-itu-remeh-simak-nih-ma...
27,200300.0,26455.0,_wp_old_slug,26455-2
28,201484.0,22838.0,_wp_old_slug,jangan-takut-sama-asuransi-perluas-wawasan-kam...
29,202144.0,26917.0,_wp_old_slug,apa-dan-gimana-cara-menaklukkan-mahalnya-biaya...
...,...,...,...,...
70,260206.0,39225.0,_wp_old_slug,ooops-ini-7-postingan-sosial-media-yang-bisa-b...
71,260740.0,39341.0,_wp_old_slug,mau-menjadi-orang-sukses-miliki-dulu-8-karakte...
72,260645.0,39290.0,_wp_old_slug,6-atlet-terkaya-dunia-dulunya-hidup-miskin-lho
73,261638.0,39573.0,_wp_old_slug,ump-2018-naik-871-persen-siap-siap-atur-gajimu...
74,270478.0,30012.0,_wp_old_slug,30012-2
75,278037.0,42501.0,_wp_old_slug,investasi-yang-menguntungkan
76,285070.0,43628.0,_wp_old_slug,10-kesalahan-cara-mengelola-uang-yang-sering-d...
77,289110.0,42415.0,_wp_old_slug,hindari-5-hal-ini
78,16886.0,1861.0,_wp_old_slug,header-old
79,290542.0,22625.0,_wp_old_slug,22625-2
80,295275.0,44461.0,_wp_old_slug,lakukan-pelanggaran-lalu-lintas-cek-biaya-dend...
81,215917.0,22838.0,_wp_old_slug,22838-2
82,216101.0,29961.0,_wp_old_slug,29961-2
83,147326.0,16428.0,_wp_old_slug,apa-aja-yang-perlu-diketahui-soal-tabungan-haj...
84,216606.0,30434.0,_wp_old_slug,bisnis-bersama-pasangan-itu-seru
85,16882.0,1860.0,_wp_old_slug,homepage-template-old
86,218687.0,31002.0,_wp_old_slug,gaji-3-juta-mau-berangkatkan-orangtua-naik-haji
87,173384.0,3417.0,_wp_old_slug,use-mortgage-calculator-2
88,219878.0,31220.0,_wp_old_slug,mau-jadi-miliarder-bikin-biro-travel-umroh-aja
89,345389.0,51036.0,_wp_old_slug,10-macam-profesi-yang-bakal-kerja-ekstra-di-bu...
90,221703.0,29896.0,_wp_old_slug,29896-2
91,173724.0,3730.0,_wp_old_slug,bikin-kartu-kredit-dengan-cepat-dan-mudah
92,222334.0,8583.0,_wp_old_slug,manfaat-asuransi-jiwa-kpr-bukan-sembarangan-ba...
93,373766.0,55991.0,_wp_old_slug,5-fakta-inspiratif-presiden-kroasia
94,399543.0,59812.0,_wp_old_slug,4-usaha-online-menguntungkan
95,222598.0,5821.0,_wp_old_slug,utang-kredit-tanpa-agunan-kta-untuk-liburan-bi...
96,225471.0,33006.0,_wp_old_slug,hey-pencari-kerja-daftar-perusahaan-gaji-terti...
97,16892.0,2005.0,_wp_old_slug,product-detail-old
98,427037.0,64290.0,_wp_old_slug,tarif-paid-promote-akun-instagram-follower-jutaan
99,424876.0,63923.0,_wp_old_slug,cara-investasi-millennial-ala-adrian-maulana

In [83]:
pps_query = """
select users.day_str, users.is_test, num_users, num_pageviews, cast(num_pageviews as DOUBLE) / (num_users) as pageviews_per_user_per_day from 

(select day_str, is_test, count(distinct(anonymous_id)) AS num_users from id_pageview_metrics group by day_str, is_test) as users

JOIN

(select day_str, is_test, count(*) as num_pageviews from id_pageview_metrics group by day_str, is_test) as pageviews

ON 
 users.day_str = pageviews.day_str
 and 
 users.is_test = pageviews.is_test
order by day_str, is_test
"""
pageviews_per_session = pd.read_sql_query(pps_query, athena_conn)

In [84]:
pageviews_per_session

       day_str  is_test  num_users  num_pageviews  pageviews_per_user_per_day
0   2019-08-29    False      22667          27063                    1.193938
1   2019-08-29     True        778           1003                    1.289203
2   2019-08-30    False     147652         178157                    1.206601
3   2019-08-30     True       5432           6586                    1.212445
4   2019-08-31    False     146489         177051                    1.208630
5   2019-08-31     True       4999           5962                    1.192639
6   2019-09-01    False     150252         180434                    1.200876
7   2019-09-01     True       5429           6314                    1.163013
8   2019-09-02    False     150894         182569                    1.209916
9   2019-09-02     True       5893           7009                    1.189377
10  2019-09-03    False     158564         191973                    1.210697
11  2019-09-03     True       5993           6971                    1.163190
12  2019-09-04    False     138080         166404                    1.205127
13  2019-09-04     True       4926           5808                    1.179050

In [85]:
pageviews_per_session.groupby(['is_test']).mean()

             num_users  num_pageviews  pageviews_per_user_per_day
is_test
False    130656.857143  157664.428571                    1.205112
True       4778.571429    5664.714286                    1.198417